@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: #0B0F19;
    font-family: 'Inter', sans-serif;
    color: #F8FAFC;
    overflow: hidden;
  }
}
